* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
}

li {
    list-style: none;
}

sup {
    font-size: 0.6em;
}



h1{
    margin-bottom: 27px;
    font-size: 24px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
}

.column>p{
    margin-bottom: 25px;
    font-size: 14px;
color: #24242b;
font-weight: 700;
font-family: "Roboto Slab";
}
.column li p{
    font-size: 14px;
line-height: 21px;
color: #666;
font-family: "Arial";
}
.column a{
    font-size: 18px;
line-height: 24px;
color: #25252c;
font-weight: bold;
font-family: "Arial";
text-decoration: none;   
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 33px;
    margin-bottom: 36px;
    border-bottom: 1px #e4e4ec solid;
}




