* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
}

li {
    list-style: none;
}

sup {
    font-size: 0.6em;
}

nav {
    padding: 20px 0;
    background-color: #1f1f56;
}
header{
    margin-bottom: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
}

.menu a {
    color: #b1b1d2;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Arial";
    text-decoration: none;
    transition: 0.3s;
}

.menu li:hover a,
.email p:hover a,
.phone p:hover a {
    color: #fd8300;

}

.social ul {
    display: flex;
    justify-content: space-between;
    column-gap: 22px;
    align-items: center;
}

.socials a {
    display: block;
    background: url(../img/icons.png);
    transition: 0.3s;
}

a.fb {
    width: 11px;
    height: 21px;
    background-position: 0 0;

}

a.tw {
    width: 21px;
    height: 17px;
    background-position: -14px 0;
}

a.inst {
    width: 21px;
    height: 22px;
    background-position: -37px 0;
}

.fb:hover {
    background-position: 0 -24px;
}

.tw:hover {
    background-position: -14px -24px;
}

.inst:hover {
    background-position: -37px -24px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 12px;
}

a.phn:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: -11px;
    width: 19px;
    height: 21px;
    background: url(../img/icons.png), no-repeat;
    background-position: -62px 0;
}

.phone a {
    color: #25252c;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    transition: .5s;

}

.email {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.email a {
    color: #25252c;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Arial";
    transition: .3s;
}

a.eml:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: -12px;
    width: 21px;
    height: 15px;
    background: url(../img/icons.png), no-repeat;
    background-position: -84px 0;
}

a.skype {
    text-decoration: none;
}

a.skype:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    left: -11px;
    width: 21px;
    height: 21px;
    background: url(../img/icons.png), no-repeat;
    background-position: -106px 0;
}


.buttoncall a {
    display: inline-block;
    padding: 14px 30px;
    color: #25252c;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: .3s;
}

.buttoncall a:hover {
    background-color: #fd8300;
}

h1 {
    margin-bottom: 22px;
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.description p {
margin-bottom: 25px;
max-width: 85%;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

table {
    margin-bottom: 27px;
   overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}


 th p {
    padding: 19px 21px 13px;
    background: #1f1f56;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-family: "Roboto Slab";
}
td p{
    padding: 15px 20px;
    font-size: 14px;
color: #666;
font-family: "Arial";
  border-bottom: 1px #cdcddd solid;
background: #e4e4ec;
transition: .2s;
}
tr td:last-child{
    text-align: end;
}
tr th:last-child p{
    text-align: end;
}
tbody tr:hover p{
   color: #fff;
    background: #fd8300;
}
article{
    border-bottom: 1px #e4e4ec solid;
}
article p{ 
    margin-bottom: 8px;
    font-size: 13px;
    color: #666666;
    font-family: "Arial";
}
h2{
    margin-bottom: 33px;
}
h2 a{
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}
h2:hover a{
    text-decoration: none;
}
.popular {
    padding: 30px 0 46px;
}

.popular p {
    margin-bottom: 5px;
    color: #24242b;
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.popular h2{
    margin-bottom: 25px;
    color: #24242b;
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.examples {
    display: flex;
    justify-content: space-between;
}

.examples a {
    text-decoration: underline;
}
figure{
    width: 23%;
}

.examples h2 {
    margin: 0 0 7px;
    color: #1f1f56;
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
}

.examples a:hover {
    text-decoration: none;
}

.examples p {
    color: #9999a6;
    font-size: 13px;
    font-family: "Arial";
}

.examples img {
    display: inline-block;
    margin-bottom: 15px;
    height: 151px;
    /* width: 100%; */
}

.footer-line {
    padding: 43px 0 30px;
    background-color: #ededf5;
}

.bottommenu a {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    font-family: "Arial";
    text-decoration: none;
    transition: .3s;
}

.bottommenu li:hover a {
    color: #fd8300;
    text-decoration: underline;
    transition: .3s;
}

.coperate {
    padding: 16px;
    text-align: center;
    background-color: #dcdce6;
}

.coperate p {
    color: #9999a6;
    font-size: 13px;
    font-family: "Arial";
    text-align: center;
}